<div id="filterrific_results">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>          
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>University</th>
                                <th>Date of birth</th>
                                <th>Mobile</th>
                                <th>Residential address</th>
                                <th>Course</th>
                            </tr>
                        </thead>
                        <% i=0 %>    
                        <% @refresher_courses.each do |refresher_course| %>
                          <tbody>
                              <tr>
                                <td><%= link_to i=i+1, refresher_course %></td>
                                <td><%= refresher_course.name %></td>
                                <td><%= refresher_course.email %></td>
                                <td><%= refresher_course.university %></td>
                                <td><%= refresher_course.dob.strftime('%d-%b-%Y') %></td>
                                <td><%= refresher_course.mobile %></td>
                                <td><%= refresher_course.res_address %></td>
                                <td><%= refresher_course.course.course_name %></td>
                              </tr>
                          </tbody>    
                        <% end %>
                    </table>
                    <%= paginate @refresher_courses %>    
                </div>
                <!-- /.table-responsive -->    
</div>
<!-- /.col-lg-12 -->