<!-- row -->            
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Individual Record</h1>
    </div>
    <!-- /.col-lg-12 -->
    <p id="notice"><%= notice %></p>
</div>
<!-- /.row -->
<!-- row -->
<div class="row">
    <div class="col-lg-12">
          <%= image_tag(@refresher_course.image_url(:thumb).to_s, :class => @refresher_course.image? ? "img-responsive img-thumbnail" : nil) %>  
          <div class="table-responsive">
            <table class="table table-striped table-hover">        
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Religion</th>
                                <th>Category</th>
                                <th>Marital status</th>
                                <th>Email</th>
                                <th>Stream</th>
                                <th>College</th>
                            </tr>       
                            <tr class="success">
                                <td><%= @refresher_course.id %></td>
                                <td><%= @refresher_course.name %></td>
                                <td><%= @refresher_course.gender %></td>
                                <td><%= @refresher_course.religion %></td>
                                <td><%= @refresher_course.category %></td>
                                <td><%= @refresher_course.marital_status %></td>
                                <td><%= @refresher_course.email %></td>
                                <td><%= @refresher_course.stream %></td>
                                <td><%= @refresher_course.college %></td>
                            </tr>    
                      </table>   
                      <table class="table table-striped table-hover">          
                            <tr>    
                                <th>University</th>
                                <th>City</th>
                                <th>District</th>
                                <th>State</th>
                                <th>Position</th>
                                <th>Payscale</th>
                                <th>Subject</th>
                                <th>Std Code</th>
                                <th>Landline</th>
                            </tr>
                            <tr class="success">
                                <td><%= @refresher_course.university %></td>
                                <td><%= @refresher_course.city %></td>
                                <td><%= @refresher_course.district %></td>
                                <td><%= @refresher_course.state %></td>
                                <td><%= @refresher_course.position %></td>
                                <td><%= @refresher_course.payscale %></td>
                                <td><%= @refresher_course.subject %></td>
                                <td><%= @refresher_course.std_code %></td>
                                <td><%= @refresher_course.landline %></td>
                            </tr>
                      </table>                
                      <table class="table table-striped table-hover">          
                            <tr>    
                                <th>Mobile</th>
                                <th>University pin</th>
                                <th>Dob</th>
                                <th>Date of joining</th>
                                <th>Preferred date1</th>
                                <th>Preferred date2</th>
                                <th>Residential address</th>
                                <th>Pin</th>
                                <th>Phd</th>
                            </tr>
                            <tr class="success">    
                                <td><%= @refresher_course.mobile %></td>
                                <td><%= @refresher_course.university_pin %></td>
                                <td><%= @refresher_course.dob %></td>
                                <td><%= @refresher_course.date_of_joining %></td>
                                <td><%= @refresher_course.pref_date1 %></td>
                                <td><%= @refresher_course.pref_date2 %></td>
                                <td><%= @refresher_course.res_address %></td>
                                <td><%= @refresher_course.pin %></td>
                                <td><%= @refresher_course.phd %></td>
                            </tr>        
                      </table>
                </div>
                <!-- /.table-responsive -->    
        <%= link_to 'Edit', edit_refresher_course_path(@refresher_course), :class => 'btn btn-default' if can? :update, RefresherCourse %> 
        <%= link_to 'Delete', refresher_course_path, :class => 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, RefresherCourse %>
        <%= link_to 'Back', refresher_record_path, :class => 'btn btn-default' %>
        </div>
        <!-- /.col-lg-12 -->            
</div>
<!-- /. row -->

