<div class="col-md-offset-1 col-md-10 col-md-offset-1">
  
    	<div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-responsive" src="../assets/asc.png" alt="">
                </div>
                <!--/.panel-heading-->
                <div class="panel-body">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-3">
                        <h4><strong>Receipt No:</strong> <%= @record.course.course_name+'-'+@record.id.to_s%></h4>
                      </div>
                      <div class="col-md-offset-5 col-md-3">
                        <h4><strong>Date:</strong> <%= @receipt_date %></h4>
                      </div>
                  </div>
                  <!-- /. row -->
                  <br/>
                  <h4 class="text-justify"> Received From Shri/Smt./Ku. <strong><span class="text-danger"><%= @record.name%></span></u></strong> the sum of Rs. <strong><span class="text-danger"><%= @record.amount ? @record.amount : 0 %>/-</span></strong> in Cash/Demand Draft No. <strong><span class="text-danger"><%= @record.dd_number %></span></u></strong> Date <strong><span class="text-danger"><%= @record.dd_date.strftime("%d-%b-%Y") %></span></strong> on account of following:</h4>
                  <br/>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">On What Account</th>
                        <th class="text-center">Amount(in Rs.)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">Registration Fees</td>
                        <td class="text-center"><i class="fa fa-inr"></i> <%= @record.amount %>/-</td>
                      </tr>  
                      <tr>
                        <td class="text-center">Duplicate Certificate</td>
                        <td class="text-center"><i class="fa fa-inr"></i> <%= @certificate_amt %>/-</td>
                      </tr>
                      <tr>
                        <td class="text-center">Others</td>
                        <td class="text-center"><i class="fa fa-inr"></i> <%= @others %>/-</td>
                      </tr>
                      <tr>
                        <td class="text-right"><strong>Total =></strong></td>
                        <td class="text-center"><i class="fa fa-inr"></i> <%= @record.amount+@certificate_amt+@others%>/-</td>
                      </tr>
                    </tbody>  
                  </table>  
    	          </div> 
                <!-- /.panel-body -->
      </div>	
    	<!-- /. panel -->
    
	<span class="col-md-offset-5 col-md-2">
    <button class='btn btn-default' onClick='window.print()' type='button'>Print</button>
    <%= link_to 'Back', dd_search_path, :class => 'btn btn-default' %>
	</span>	
</div>
