<!--
@Author: Dhaval
Dated: 11/01/2015
-->
<!-- Page Content -->
		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Programs
                </h1>
            <ol class="breadcrumb">
                <li>
                    <%= link_to 'Home', index_path %>
                </li>
                <li class="active">Programs</li>
            </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Programs Tabs -->
        <div class="row">
            <div class="col-lg-12">
		        <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-newspaper-o"></i> 
                    	Orientation Program</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Refresher Program</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Workshop</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Short Term Courses</a>
                    </li>
                    <li class=""><a href="#service-five" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Interaction Program</a>
                    </li>
                </ul>
                <!-- ./Tab-list -->

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Orientation Program</h4>
                        <p>The program of orientation covers teaching methodologies, educational pedagogy, and educational psychology for new entrants. The teachers are made to realize the larger context of education and their role in the society. They are also made aware of the ways in which they may develop their own personalities.</p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Refresher Program</h4>
                        <p>The refresher courses are organized to help the in-service teachers by acquainting them with the new developments in their discipline, new teaching and research methods.<br>

						a)  2-3 course of 3 weeks duration every year in each subject.<br>
						b)  Subjects are allocated by the UGC every year by the UGC.<br>
						c)  The courses are meant for senior teachers.<br></p>
						<p>
						The Refresher courses are organized with the help of concerned departments. The following subjects have been allocated for Refresher courses during the year.
						</p>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Workshop for principals and Academic Administrators</h4>
                        <p>The Workshop is for principals and Academic Administrators</p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Short Term Courses</h4>
                        <p>Apart from Refresher Courses and Orientation Programmes for faculty, the ASC shall conduct short term courses of about 6 days duration in various fields for the professional development of senior faculty viz. Professors and Readers. </p>
                    </div>
                    <div class="tab-pane fade" id="service-five">
                        <h4>Interaction Program</h4>
                        <p>Student at Ph.D./Post-doctoral levels from the centre of Advanced Studies/ Department of Special Assistance (CAS/DSA) may take part in the special interaction programmes to be organized by the ASCs under the RCs scheme. The interaction programmes should be in the form of workshops/seminars only. The duration of this programme should be about three weeks.
						The main focus of this programme will be interaction between Ph.D./Post-doctoral scholars and teachers. The number of participants for this programme shall be 20 or more. This interaction programme may be held once a year.  
						</p>
                    </div>
                </div>
                <!-- ./Tab-content -->
			</div>
        </div>
        <!-- ./Row -->
        <hr>

        <!-- Programs List -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Upcoming <small>Programs</small></h2>
            </div>
            <% @courses.each do |course| %>
              <% if Date.today < course.start_date %>  
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <span class="fa-stack fa-2x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                            </span> 
                        </div>
                        <div class="media-body">
                            <p><%= course.course_type %> In <%= course.course_name %> From <%= course.start_date.strftime('%d-%b-%Y') %> To <%= course.end_date.strftime('%d-%b-%Y') %> </p>
                        </div>
                    </div>
                </div>
              <% end %>      
            <% end %>    
        </div>
        <!-- /.row -->
        <hr>