<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="../assets/favicon.ico" /><title>HRDC-DAVV</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="col-md-offset-1 col-md-10 col-md-offset-1">
  
    	<div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <% if @course_type=='Short-term Course' || @course_type=='Refresher Course' || @course_type=='Orientation Course' %>
                      <div class="col-md-3 col-lg-3 " align="center"> <%= image_tag(@record.image_url(:thumb).to_s, :class => @record.image? ? "img-responsive img-thumbnail" : nil) %> </div>
                      
                      <div class=" col-md-9 col-lg-9 "> 
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Registration ID:</td>
                              <td><%= @record.id %></td>
                            </tr>
                            <tr>
                              <td>Name:</td>
                              <td><%= @record.name %></td>
                            </tr>
                            <tr>
                              <td>Date Of Birth:</td>
                              <td><%= @record.dob.strftime('%d-%b-%Y') %></td>
                            </tr>  
                            <tr>
                              <td>Gender:</td>
                              <td><%= @record.gender %></td>
                            </tr>
                            <tr>
                              <td>Religion:</td>
                              <td><%=@record.religion %></td>
                            </tr>
                            <tr>
                              <td>Category</td>
                              <td><%=@record.category %></td>
                            </tr>
                            <tr>
                              <td>Marital Status:</td>
                              <td><%= @record.marital_status %></td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td><%= @record.email %></td>
                            </tr>
                            <tr>
                              <td>Stream</td>
                              <td><%= @record.stream %></td>
                            </tr>
                            <tr>
                              <td>College</td>
                              <td><%= @record.college %></td>
                            </tr>
                            <tr>
                              <td>University</td>
                              <td><%= @record.university %></td>
                            </tr>
                            <tr>
                              <td>University Pin</td>
                              <td><%= @record.university_pin %></td>
                            </tr>
                            <tr>
                              <td>City</td>
                              <td><%= @record.city %></td>
                            </tr>
                            <tr>
                              <td>District</td>
                              <td><%= @record.district %></td>
                            </tr>
                            <tr>
                              <td>State</td>
                              <td><%= @record.state %></td>
                            </tr>
                            <tr>
                              <td>Position</td>
                              <td><%= @record.position %></td>
                            </tr>
                            <tr>
                              <td>Phd</td>
                              <td><%= yesno(@record.phd) %></td>
                            </tr>
                            <tr>
                              <td>Payscale</td>
                              <td><%= @record.payscale %></td>
                            </tr> 
                            <tr>
                              <td>Subject</td>
                              <td><%= @record.subject %></td>
                            </tr>
                            <tr>
                              <td>Date Of Joining</td>
                              <td><%= @record.date_of_joining.strftime('%d-%b-%Y') %></td>
                            </tr>
                            <tr>
                              <td>Landline</td>
                              <td><%= @record.std_code %>-<%= @record.landline %></td>
                            </tr>
                            <tr>
                              <td>Mobile</td>
                              <td><%= @record.mobile %></td>
                            </tr>
                            <tr>
                              <td>Preferred Date 1</td>
                              <td><%= @record.pref_date1.strftime('%d-%b-%Y') %></td>
                            </tr>
                            <tr>
                              <td>Preferred Date 2</td>
                              <td><%= @record.pref_date2.strftime('%d-%b-%Y') %></td>
                            </tr>
                            <tr>
                              <td>Residential Address</td>
                              <td><%= @record.res_address %></td>
                            </tr>
                            <tr>
                              <td>Pin</td>
                              <td><%= @record.pin %></td>
                            </tr>
                            <tr>
                              <td>DD Number</td>
                              <td><%= @record.dd_number %></td>
                            </tr>
                            <tr>
                              <td>DD Date</td>
                              <% if @record.dd_date=''%>
                                <td><%= @record.dd_date %></td>
                              <% else %>    
                                <td><%= @record.dd_date.strftime('%d-%b-%Y') %></td>
                              <% end %>
                            </tr>
                            <tr>
                              <td>Bank Name</td>
                              <td><%= @record.bank_name %></td>
                            </tr>
                            <tr>
                              <td>Amount</td>
                              <td><%= @record.amount %></td>
                            </tr>
                          </tbody>
                        </table>   
                      </div>
                      <!-- /. col-md-9 -->

                    <% elsif @course_type=='Interaction Program' %>
                        <div class="col-md-3 col-lg-3 " align="center"> <%= image_tag(@record.image_url(:thumb).to_s, :class => @record.image? ? "img-responsive img-thumbnail" : nil) %> </div>
                
                        <div class=" col-md-9 col-lg-9 "> 
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td>Registration ID</td>
                                <td><%= @record.id %></td>
                              </tr>
                              <tr>
                                <td>Name</td>
                                <td><%= @record.name %></td>
                              </tr>
                              <tr>
                                <td>Date Of Birth</td>
                                <td><%= @record.dob.strftime('%d-%b-%Y') %></td>
                              </tr>  
                              <tr>
                                <td>Gender</td>
                                <td><%= @record.gender %></td>
                              </tr>
                              <tr>
                                <td>Religion</td>
                                <td><%= @record.religion %></td>
                              </tr>
                              <tr>
                                <td>Category</td>
                                <td><%= @record.category %></td>
                              </tr>
                              <tr>
                                <td>Marital Status</td>
                                <td><%= @record.marital_status %></td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td><%= @record.email %></td>
                              </tr>
                              <tr>
                                <td>Stream</td>
                                <td><%= @record.stream %></td>
                              </tr>
                              <tr>
                                <td>Date Of Joining phd</td>
                                <td><%= @record.date_of_joining_phd.strftime('%d-%b-%Y') %></td>
                              </tr>
                              <tr>
                                <td>Research Experience</td>
                                <td><%= @record.research_experience %></td>
                              </tr>
                              <tr>
                                <td>College</td>
                                <td><%= @record.college %></td>
                              </tr>
                              <tr>
                                <td>University</td>
                                <td><%= @record.university %></td>
                              </tr>
                              <tr>
                                <td>University Pin</td>
                                <td><%= @record.university_pin %></td>
                              </tr>
                              <tr>
                                <td>City</td>
                                <td><%= @record.city %></td>
                              </tr>
                              <tr>
                                <td>District</td>
                                <td><%= @record.district %></td>
                              </tr>
                              <tr>
                                <td>State</td>
                                <td><%= @record.state %></td>
                              </tr>
                              <tr>
                                <td>Landline</td>
                                <td><%= @record.std_code %>-<%= @record.landline %></td>
                              </tr>
                              <tr>
                                <td>Mobile</td>
                                <td><%= @record.mobile %></td>
                              </tr>
                              <tr>
                                <td>Residential Address</td>
                                <td><%= @record.res_address %></td>
                              </tr>
                              <tr>
                                <td>Pin</td>
                                <td><%= @record.pin %></td>
                              </tr>
                              <tr>
                                <td>DD Number</td>
                                <td><%= @record.dd_number %></td>
                              </tr>
                              <tr>
                                <td>DD Date</td>
                                <% if @record.dd_date=''%>
                                  <td><%= @record.dd_date %></td>
                                <% else %>    
                                  <td><%= @record.dd_date.strftime('%d-%b-%Y') %></td>
                                <% end %>
                              </tr>
                              <tr>
                                <td>Bank Name</td>
                                <td><%= @record.bank_name %></td>
                              </tr>
                              <tr>
                                <td>Amount</td>
                                <td><%= @record.amount %></td>
                              </tr>
                            </tbody>
                          </table>   
                        </div>
                        <!-- /. col-md-9 -->

                    <% elsif @course_type=='Principal Workshop' %>
                        <div class="col-md-offset-3 col-lg-offset-3 col-md-9 col-lg-9 "> 
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td>Registration ID</td>
                                <td><%= @record.id %></td>
                              </tr>
                              <tr>
                                <td>Name</td>
                                <td><%= @record.name %></td>
                              </tr>
                              <tr>
                                <td>Date Of Birth</td>
                                <td><%= @record.dob.strftime('%d-%b-%Y') %></td>
                              </tr>
                              <tr>
                                <td>Designation</td>
                                <td><%= @record.designation %></td>
                              </tr>  
                              <tr>
                                <td>University</td>
                                <td><%= @record.university %></td>
                              </tr>
                              <tr>
                                <td>University Type</td>
                                <td><%=@record.univ_type %></td>
                              </tr>
                              <tr>
                                <td>Academic Qualification</td>
                                <td><%=@record.academic_qualification %></td>
                              </tr>
                              <tr>
                                <td>Workshop</td>
                                <td><%= @record.course.course_name %></td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td><%= @record.email %></td>
                              </tr>
                              <tr>
                                <td>Office Number</td>
                                <td><%= @record.std_code %>-<%= @record.office_number %></td>
                              </tr>
                              <tr>
                                <td>Mobile</td>
                                <td><%= @record.mobile %></td>
                              </tr>
                              <tr>
                                <td>Fax Number</td>
                                <td><%= @record.fax_code %>-<%= @record.fax_number %></td>
                              </tr>
                              <tr>
                                <td>Office Address</td>
                                <td><%= @record.office_address %></td>
                              </tr>
                              <tr>
                                <td>Residential Address</td>
                                <td><%= @record.res_address %></td>
                              </tr>
                              <tr>
                                <td>DD Number</td>
                                <td><%= @record.dd_number %></td>
                              </tr>
                              <tr>
                                <td>DD Date</td>
                                <% if @record.dd_date=''%>
                                  <td><%= @record.dd_date %></td>
                                <% else %>    
                                  <td><%= @record.dd_date.strftime('%d-%b-%Y') %></td>
                                <% end %>
                              </tr>
                              <tr>
                                <td>Bank Name</td>
                                <td><%= @record.bank_name %></td>
                              </tr>
                              <tr>
                                <td>Amount</td>
                                <td><%= @record.amount %></td>
                              </tr>
                            </tbody>
                          </table>   
                        </div>
                        <!-- /. col-md-9 -->
                    <% end %>  
                    
              </div>
              <!-- /. row -->
        </div>
        <!-- /. panel body -->
    	</div>	
    	<!-- /. panel -->
    
	<span class="col-md-offset-5 col-md-2">
    <button class='btn btn-default' onClick='window.print()' type='button'>Print</button>
		<%= link_to 'Back', search_path, :class => 'btn btn-default' %>
	</span>	
</div>
<footer>
  <div class="row"></div>
</footer>	
</body>
</html>