<!-- row -->            
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Individual Record</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">#<%= @orientation_course.id %> <%= @orientation_course.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <%= image_tag(@orientation_course.image_url(:thumb).to_s, :class => @orientation_course.image? ? "img-responsive img-thumbnail" : nil) %> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Date Of Birth:</td>
                        <td><%= @orientation_course.dob %></td>
                      </tr>  
                      <tr>
                        <td>Gender:</td>
                        <td><%= @orientation_course.gender %></td>
                      </tr>
                      <tr>
                        <td>Religion:</td>
                        <td><%=@orientation_course.religion %></td>
                      </tr>
                      <tr>
                        <td>Category</td>
                        <td><%=@orientation_course.category %></td>
                      </tr>
                      <tr>
                        <td>Marital Status:</td>
                        <td><%= @orientation_course.marital_status %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= @orientation_course.email %></td>
                      </tr>
                      <tr>
                        <td>Stream</td>
                        <td><%= @orientation_course.stream %></td>
                      </tr>
                      <tr>
                        <td>College</td>
                        <td><%= @orientation_course.college %></td>
                      </tr>
                      <tr>
                        <td>University</td>
                        <td><%= @orientation_course.university %></td>
                      </tr>
                      <tr>
                        <td>University Pin</td>
                        <td><%= @orientation_course.university_pin %></td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td><%= @orientation_course.city %></td>
                      </tr>
                      <tr>
                        <td>District</td>
                        <td><%= @orientation_course.district %></td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td><%= @orientation_course.state %></td>
                      </tr>
                      <tr>
                        <td>Position</td>
                        <td><%= @orientation_course.position %></td>
                      </tr>
                      <tr>
                        <td>Phd</td>
                        <td><%= @orientation_course.phd %></td>
                      </tr>
                      <tr>
                        <td>Payscale</td>
                        <td><%= @orientation_course.payscale %></td>
                      </tr> 
                      <tr>
                        <td>Subject</td>
                        <td><%= @orientation_course.subject %></td>
                      </tr>
                      <tr>
                        <td>Date Of Joining</td>
                        <td><%= @orientation_course.date_of_joining %></td>
                      </tr>
                      <tr>
                        <td>Landline</td>
                        <td><%= @orientation_course.std_code %>-<%= @orientation_course.landline %></td>
                      </tr>
                      <tr>
                        <td>Mobile</td>
                        <td><%= @orientation_course.mobile %></td>
                      </tr>
                      <tr>
                        <td>Preferred Date 1</td>
                        <td><%= @orientation_course.pref_date1 %></td>
                      </tr>
                      <tr>
                        <td>Preferred Date 2</td>
                        <td><%= @orientation_course.pref_date2 %></td>
                      </tr>
                      <tr>
                        <td>Residential Address</td>
                        <td><%= @orientation_course.res_address %></td>
                      </tr>
                      <tr>
                        <td>Pin</td>
                        <td><%= @orientation_course.pin %></td>
                      </tr>
                    </tbody>
                  </table>   
                </div>
                <!-- /. col-md-9 -->
              </div>
              <!-- /. row -->
        </div>
        <!-- /. panel body -->

    </div>
    <!-- /. panel --> 
    <%= link_to 'Edit', edit_orientation_course_path(@orientation_course), :class => 'btn btn-default' if can? :update, OrientationCourse%>
    <%= link_to 'Delete', orientation_course_path, method: :delete, :class => 'btn btn-default', data: { confirm: 'Are you sure?' } if can? :destroy, OrientationCourse %> 
    <%= link_to 'Back', orientation_record_path, :class => 'btn btn-default' %>
</div>
<!-- /. offset -->
