<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">#<%= @interaction_program.id %> <%= @interaction_program.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <%= image_tag(@interaction_program.image_url(:thumb).to_s, :class => @interaction_program.image? ? "img-responsive img-thumbnail" : nil) %> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Date Of Birth</td>
                        <td><%= @interaction_program.dob.strftime('%d-%b-%Y') %></td>
                      </tr>  
                      <tr>
                        <td>Gender</td>
                        <td><%= @interaction_program.gender %></td>
                      </tr>
                      <tr>
                        <td>Religion</td>
                        <td><%= @interaction_program.religion %></td>
                      </tr>
                      <tr>
                        <td>Category</td>
                        <td><%= @interaction_program.category %></td>
                      </tr>
                      <tr>
                        <td>Marital Status</td>
                        <td><%= @interaction_program.marital_status %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= @interaction_program.email %></td>
                      </tr>
                      <tr>
                        <td>Stream</td>
                        <td><%= @interaction_program.stream %></td>
                      </tr>
                      <tr>
                        <td>Date Of Joining phd</td>
                        <td><%= @interaction_program.date_of_joining_phd.strftime('%d-%b-%Y') %></td>
                      </tr>
                      <tr>
                        <td>Research Experience</td>
                        <td><%= @interaction_program.research_experience %></td>
                      </tr>
                      <tr>
                        <td>College</td>
                        <td><%= @interaction_program.college %></td>
                      </tr>
                      <tr>
                        <td>University</td>
                        <td><%= @interaction_program.university %></td>
                      </tr>
                      <tr>
                        <td>University Pin</td>
                        <td><%= @interaction_program.university_pin %></td>
                      </tr>
                      <tr>
                        <td>City/Village</td>
                        <td><%= @interaction_program.city %></td>
                      </tr>
                      <tr>
                        <td>District</td>
                        <td><%= @interaction_program.district %></td>
                      </tr>
                      <tr>
                        <td>State/Union Territory</td>
                        <td><%= @interaction_program.state %></td>
                      </tr>
                      <tr>
                        <td>Landline</td>
                        <td><%= @interaction_program.std_code %>-<%= @interaction_program.landline %></td>
                      </tr>
                      <tr>
                        <td>Mobile</td>
                        <td><%= @interaction_program.mobile %></td>
                      </tr>
                      <tr>
                        <td>Residential Address</td>
                        <td><%= @interaction_program.res_address %></td>
                      </tr>
                      <tr>
                        <td>Pin</td>
                        <td><%= @interaction_program.pin %></td>
                      </tr>
                      <tr>
                        <td>DD Number</td>
                        <td><%= @interaction_program.dd_number %></td>
                      </tr>
                      <tr>
                        <td>DD Date</td>
                        <% if @interaction_program.dd_date=''%>
                          <td><%= @interaction_program.dd_date %></td>
                        <% else %>    
                          <td><%= @interaction_program.dd_date.strftime('%d-%b-%Y') %></td>
                        <% end %>
                      </tr>
                      <tr>
                        <td>Bank Name</td>
                        <td><%= @interaction_program.bank_name %></td>
                      </tr>
                      <tr>
                        <td>Amount</td>
                        <td><%= @interaction_program.amount %></td>
                      </tr>
                    </tbody>
                  </table>   
                </div>
                <!-- /. col-md-9 -->
              </div>
              <!-- /. row -->
        </div>
        <!-- /. panel body -->

    </div>
    <!-- /. panel -->