<!--@Author: Aditi
Dated:08/1/2015
-->

<%= form_for(@interaction_program, :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @interaction_program.errors.any? %>
    <div id="error_explanation">
      <h2>Record Could Not be Saved Because of the following errors:</h2>

      <ul>
      <% @interaction_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div role="tabpanel">
  <!-- Nav tabs -->
  <ul id="tabs" class="nav nav-pills custom" role="tablist">
    <li role="presentation" class="active"><a href="#detail1"  aria-controls="detail1" role="tab" data-toggle="tab">Personal Details</a></li>
    <li role="presentation"><a href="#detail2" aria-controls="detail2" role="tab" data-toggle="tab">University Details</a></li>
    <li role="presentation"><a href="#detail3" aria-controls="detail3" role="tab" data-toggle="tab">Course Details</a></li>
    <li role="presentation"><a href="#detail4" aria-controls="detail4" role="tab" data-toggle="tab">Contact Details</a></li>
    <li role="presentation"><a href="#detail5" aria-controls="detail5" role="tab" data-toggle="tab">Payment Details</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">  
    <div role="tabpanel" class="panel panel-primary tab-pane active" style="margin-top:10px" id="detail1">
        <div class="panel-heading input-lg">
            <h4> Personal Details </h4>
        </div>  
        <!-- Panel-head -->
        
        <div class="panel-body">

            <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :Name %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :name, :placeholder => "Enter Full Name", :class => 'form-control', :autofocus => true, :required => true %>
                </div>
            </div>
            <!--Name field-->
            
            <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :Upload_image, "Upload Your Image" %>
                </div>
                <div class="col-sm-10">
                  <% if @interaction_program.image? %>
                      <%= image_tag(@interaction_program.image_url(:thumb).to_s, :class => @interaction_program.image? ? "img-responsive img-thumbnail" : nil) %><br/>
                      <%= f.check_box :remove_image %>
                      Remove Image
                    <% else %>  
                      <%= f.file_field :image, :required => true %>
                      <%= f.hidden_field :image_cache %>  
                    <% end %>
                  <p class="help-block">Image Size Should Be Less Than 3 MB</p>
                </div>
            </div>
            <!-- Image Field -->

            <div class="form-group">
              <div class="col-sm-2 label-control">          
                <%= f.label :Gender %>
              </div>           
              <div class="col-sm-8">   
                <%= f.radio_button :gender, 'Male', :required => true %>        
                <%= label :Gender, 'Male' %>
                <%= f.radio_button :gender, 'Female', :required => true %>
                <%= label :Gender, 'Female' %>
                <%= f.radio_button :gender, 'Other', :required => true %>
                <%= label :Gender, 'Other' %>
                <p class="help-block"> Select Your Gender </p>
              </div>
              <span class="col-sm-offset-2 col-sm-10">        
              
              </span>
            </div>
            <!--Gender field-->
  

            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Religion %>
              </div>
              <div class="col-sm-4">
                <%= f.select(:religion,[['Select a Religion',''], "Hinduism", "Sikhism", "Buddhism", "Jainism", "Islam", "Christanity", "Other" ], {}, { :class => 'form-control', :required => true })  %>
                <p class="help-block"> Select Your Religion </p>
              </div>
            </div>
            <!-- Religion Field -->

            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Category %>
              </div>
              <div class="col-sm-4">
                <%= f.select(:category,[['Select a Category',''], "General", "OBC", "SC", "ST", "Other" ],  {}, { :class => 'form-control', :required => true }) %>
              </div>
              <span class="col-sm-offset-2 col-sm-10">        
              <p class="help-block"> Select Your Category </p>
              </span>
            </div>
            <!-- Category Field -->

            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Marital_status, "Marital Status" %>
              </div>
              <div class="col-sm-10">
                <%= f.radio_button :marital_status, 'Married', :required => true %>        
                <%= label :Marital_status, 'Married' %>
                <%= f.radio_button :marital_status, 'Unmarried', :required => true %>
                <%= label :Marital_status, 'Unmarried' %>
                <%= f.radio_button :marital_status, 'Divorced', :required => true %>
                <%= label :Marital_status, 'Divorced' %>
                <%= f.radio_button :marital_status, 'Widow', :required => true %>
                <%= label :Marital_status, 'Widow' %>
                <%= f.radio_button :marital_status, 'Widower', :required => true %>
                <%= label :Marital_status, 'Widower' %>
              </div>   
            </div>
            <!-- Marital Status Field -->
        </div>
        <!-- Panel-body -->
   
        <div class="actions col-sm-offset-3 col-sm-9" style="margin-top:10px" >
          <span class="btn btn-success" id="toggle1">Previous</span>
          <span class="btn btn-success" id="toggle2">Next</span>
        </div>
        <!-- Prev-Next Button -->
    </div>
    <!-- Panel -->


    <div role="tabpanel" class="panel panel-primary tab-pane" style="margin-top:10px" id="detail2">
        <div class="panel-heading input-lg">
            <h4> University Details </h4>
        </div>
        <!-- Panel-head -->
        
        <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Stream %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :stream, :placeholder => "Enter Stream", :class => 'form-control', :required => true %>
              </div>
            </div>
            <!-- Stream Field -->

            
            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Date_Of_Joining_phd, "Date OF Joining In phd" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :date_of_joining_phd, :placeholder => "Select Your Date Of Joining", :class => 'datepicker', :required => true %>
                <i class="fa fa-calendar"></i>
                <p class="help-block"> Date Format: DD-MM-YYYY </p>
              </div>  
            </div>
            <!-- Date Of Joining Field -->


            
            <div class="form-group">
              <div class="col-sm-2 label-control"><%= f.label :research_experience, "Research Experience" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :research_experience, :placeholder => "Enter Research Experience", :class => 'form-control', :required => true %>
                <p class="help-block"> Exampele: 1 years 3 months </p>
              </div>
            </div>
            <!--Research experience field-->

             

             <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :College %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :college, :placeholder => "Enter College/UTD", :class => 'form-control', :required => true %>
              </div>
            </div>
            <!-- College Field -->

            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :University %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :university, :placeholder => "Enter University", :class => 'form-control', :required => true %>
              </div>
            </div>
            <!-- University Field -->



            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :City %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :city, :placeholder => "Enter City", :class => 'form-control', :required => true %>
              </div>
            </div>
            <!-- City Field -->

            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :District %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :district, :placeholder => "Enter District", :class => 'form-control', :required => true %>
              </div>
            </div>
            <!-- District Field -->

            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :State %>
              </div>
              <div class="col-sm-4">
                <%= f.select(:state, [['Select a State',''],"Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha" , "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal"],  {}, { :class => 'form-control', :required => true }) %>
                <p class="help-block"> Select State </p>
              </div>
            </div>
            <!-- State Field -->


            <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :University_pin, "University Pin" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :university_pin, :placeholder => "Enter Pin", :class => 'form-control', :required => true %>
              </div>
            </div>
            <!-- University Pin Field -->
        </div>
        <!-- Panel-body -->
        
        <div class="actions col-sm-offset-3 col-sm-9" style="margin-top:10px" >
          <span class="btn btn-success" id="toggle3">Previous</span>
          <span class="btn btn-success" id="toggle4">Next</span>
        </div>
        <!-- Prev-Next Button -->

    </div>
    <!-- Panel -->

    <div role="tabpanel" class="panel panel-primary tab-pane" style="margin-top:10px" id="detail3">
          <div class="panel-heading input-lg">
              <h4> Course Details </h4>
          </div>
          <!-- Panel-head -->

          <div class="panel-body">
              <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :course %>
                </div>
                <div class="col-sm-4">
                  <%= collection_select(:interaction_program, :course_id, Course.find(:all, :conditions => ["course_type='Interaction Program' AND date('now') < start_date "]), :id, :course_name, {:prompt => "Select a Course"}, { :class => 'form-control'})  %>
                  <p class="help-block"> Choose a course to apply </p>
                </div>
              </div>
              <!-- Course Field -->
          </div>
          <!-- Panel-body -->

          <div class="actions col-sm-offset-3 col-sm-9" style="margin-top:10px" >
            <span class="btn btn-success" id="toggle5">Previous</span>
            <span class="btn btn-success" id="toggle6">Next</span>
          </div>
          <!-- Prev-Next Button -->

      </div>    
      <!-- Panel -->

      <div role="tabpanel" class="panel panel-primary tab-pane" style="margin-top:10px" id="detail4">
            <div class="panel-heading input-lg">
                <h4> Contact Details </h4>
            </div>
            <!-- Panel head -->

            <div class="panel-body">
                <div class="form-group">
                  <div class="col-sm-2 label-control">
                    <%= f.label :Email %>
                  </div>
                  <div class="col-sm-8">
                    <%= f.text_field :email, :placeholder => "Enter E-mail Address", :class => 'form-control', :required => true %>
                  </div>
                </div>
                <!-- Email Field -->

                
                
            <div class="form-group">
                  <div class="col-sm-2 label-control">
                    <%= f.label :Landline %>
                  </div>
                  <div class="col-sm-2">
                    <%= f.text_field :std_code, :placeholder => "STD Code", :class => 'form-control' %> <!-- STD Code Field not added in table -->
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :landline, :placeholder => "Enter Landline Number", :class => 'form-control' %>
                    <p class="help-block">(Optional)</p>
                  </div>
                </div>
                <!-- Landline Field -->

                <div class="form-group">
                  <div class="col-sm-2 label-control">
                    <%= f.label :Mobile %>
                  </div>
                  <div class="col-sm-2 label-control">
                    <%= text_field_tag(:mobile, "+91", :class => 'form-control', :disabled => true) %> 
                  </div>
                  <div class="col-sm-6">
                    <%= f.text_field :mobile, :placeholder => "Enter Mobile Number", :class => 'form-control', :required => true %>
                  </div>
                </div>
                <!-- Mobile Field -->


                <div class="form-group">
                  <div class="col-sm-2 label-control">
                    <%= f.label :residential_Address %>
                  </div>
                  <div class="col-sm-8">
                    <%= f.text_area :res_address, :class => 'form-control', :placeholder => "Enter Full Residential Address", :style => "height:100px", :required => true %><br/>
                  </div>
                </div>
                <!-- Residential Address Field -->

                

                <div class="form-group">
                  <div class="col-sm-2 label-control">
                    <%= f.label :Pin %>
                  </div>
                  <div class="col-sm-8">
                    <%= f.text_field :pin, :placeholder => "Enter pin", :class => 'form-control', :required => true %>
                  </div>
                </div>
                <!-- Pin Field -->

                </div>
            <!-- Panel-body -->

            <div class="actions col-sm-offset-3 col-sm-9" style="margin-top:10px" >
              <span class="btn btn-success" id="toggle7">Previous</span>
              <span class="btn btn-success" id="toggle8">Next</span>
            </div>
            <!-- Prev-Next Button -->
  
    </div>    
    <!-- Panel -->
      
    <div role="tabpanel" class="panel panel-primary tab-pane" style="margin-top:10px" id="detail5">
          <div class="panel-heading input-lg">
              <h4> Payment Details </h4>
          </div>
          <!-- Panel-head -->

          <div class="panel-body">
              <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :dd_number, "DD Number" %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :dd_number, :placeholder => "Enter DD Number", :class => 'form-control' %>
                </div>
                <p class="help-block">(Optional)</p>
              </div>
              <!-- DD number Field -->

              <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :dd_date, "DD Date" %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :dd_date, :placeholder => "Enter DD date", :class => 'datepicker' %>
                  <i class="fa fa-calendar"></i>
                  <p class="help-block"> Date Format: DD-MM-YYYY </p>
                </div>
                <p class="help-block">(Optional)</p>
              </div>
              <!-- DD Date Field -->

              <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :bank_name, "Bank Name" %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :bank_name, :placeholder => "Enter Bank Name", :class => 'form-control' %>
                </div>
                <p class="help-block">(Optional)</p>
              </div>
              <!-- Bank name Field -->

              <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :amount %>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :amount, :placeholder => "Enter DD Amount", :class => 'form-control' %>
                </div>
                <p class="help-block">(Optional)</p>
              </div>
              <!-- Amount Field -->
          </div>
          <!-- Panel-body -->

          <div class="actions col-sm-offset-3 col-sm-9" style="margin-top:10px" >
            <span class="btn btn-success" id="toggle9">Previous</span>
            <span class="btn btn-success" id="toggle10">Next</span>
          </div>
          <!-- Prev-Next Button -->

          <div class="actions col-sm-offset-3 col-sm-9" style="margin-top:10px" >
            <%= link_to 'Back', root_path, :class => "btn btn-default" %>
            <%= f.submit "Submit", :class => "btn btn-primary"%>        
          </div>
          <!-- Submit Button-->  
      
      </div>    
      <!-- Panel -->

  </div>
  <!-- Tab Content-->

</div>
<!-- Tab Panel -->      
<% end %>
  
  
  
 
  
  
 
  
  