<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interaction_program.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @interaction_program.gender %>
</p>

<p>
  <b>Religion:</b>
  <%= @interaction_program.religion %>
</p>

<p>
  <b>Category:</b>
  <%= @interaction_program.category %>
</p>

<p>
  <b>Marital status:</b>
  <%= @interaction_program.marital_status %>
</p>

<p>
  <b>Email:</b>
  <%= @interaction_program.email %>
</p>

<p>
  <b>Stream:</b>
  <%= @interaction_program.stream %>
</p>

<p>
  <b>College:</b>
  <%= @interaction_program.college %>
</p>

<p>
  <b>University:</b>
  <%= @interaction_program.university %>
</p>

<p>
  <b>City:</b>
  <%= @interaction_program.city %>
</p>

<p>
  <b>District:</b>
  <%= @interaction_program.district %>
</p>

<p>
  <b>State:</b>
  <%= @interaction_program.state %>
</p>

<p>
  <b>Landline:</b>
  <%= @interaction_program.landline %>
</p>

<p>
  <b>Mobile:</b>
  <%= @interaction_program.mobile %>
</p>

<p>
  <b>University pin:</b>
  <%= @interaction_program.university_pin %>
</p>

<p>
  <b>Res address:</b>
  <%= @interaction_program.res_address %>
</p>

<p>
  <b>Pin:</b>
  <%= @interaction_program.pin %>
</p>

<p>
  <b>Date of joining phd:</b>
  <%= @interaction_program.date_of_joining_phd %>
</p>

<p>
  <b>Research experience:</b>
  <%= @interaction_program.research_experience %>
</p>


<%= link_to 'Edit', edit_interaction_program_path(@interaction_program) %> |
<%= link_to 'Back', interaction_programs_path %>
