<!--@Author: Dhaval
Dated:20/11/2014
-->
<%= form_for(@shortterm_course) do |f| %>
  <% if @shortterm_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortterm_course.errors.count, "error") %> prohibited this shortterm_course from being saved:</h2>

      <ul>
      <% @shortterm_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field form-group">
    <%= f.label :Name %><br />
    <%= f.text_field :name, :placeholder => "Enter Name" %>
  </div>
  <div class="field form-group">
    <%= f.label :Gender %><br />
    <%= f.text_field :gender, :placeholder => "Enter Gender" %>
  </div>
  <div class="field form-group">
    <%= f.label :Religion %><br />
    <%= f.text_field :religion, :placeholder => "Enter Religion" %>
  </div>
  <div class="field form-group">
    <%= f.label :Category %><br />
    <%= f.text_field :category, :placeholder => "Enter Category" %>
  </div>
  <div class="field form-group">
    <%= f.label :Marital_status %><br />
    <%= f.text_field :marital_status, :placeholder => "Enter Marital Status"%>
  </div>
  <div class="field form-group">
    <%= f.label :Email %><br />
    <%= f.text_field :email, :placeholder => "Enter E-mail" %>
  </div>
  <div class="field form-group">
    <%= f.label :Stream %><br />
    <%= f.text_field :stream, :placeholder => "Enter Stream" %>
  </div>
  <div class="field form-group">
    <%= f.label :College %><br />
    <%= f.text_field :college, :placeholder => "Enter College/UTD" %>
  </div>
  <div class="field form-group">
    <%= f.label :University %><br />
    <%= f.text_field :university, :placeholder => "Enter University" %>
  </div>
  <div class="field form-group">
    <%= f.label :City %><br />
    <%= f.text_field :city, :placeholder => "Enter City" %>
  </div>
  <div class="field form-group">
    <%= f.label :District %><br />
    <%= f.text_field :district, :placeholder => "Enter District" %>
  </div>
  <div class="field form-group">
    <%= f.label :State %><br />
    <%= f.text_field :state, :placeholder => "Enter State" %>
  </div>
  <div class="field form-group">
    <%= f.label :Position %><br />
    <%= f.text_field :position, :placeholder => "Enter Position" %>
  </div>
  <div class="field form-group">
    <%= f.label :Payscale %><br />
    <%= f.text_field :payscale, :placeholder => "Enter Payscale" %>
  </div>
  <div class="field form-group">
    <%= f.label :Course %><br />
    <%= f.text_field :course, :placeholder => "Enter Course" %>
  </div>
  <div class="field form-group">
    <%= f.label :Pin %><br />
    <%= f.text_field :pin, :placeholder => "Enter pin" %>
  </div>
  <div class="field form-group">
    <%= f.label :Landline %><br />
    <%= f.text_field :landline, :placeholder => "Enter Landline Number" %>
  </div>
  <div class="field form-group">
    <%= f.label :Mobile %><br />
    <%= f.text_field :mobile, :placeholder => "Enter Mobile Number" %>
  </div>
  <div class="field form-group">
    <%= f.label :University_pin %><br />
    <%= f.text_field :university_pin, :placeholder => "Enter Pin" %>
  </div>
  <div class="field form-group">
    <%= f.label :Dob %><br />
    <%= f.date_select :dob, :placeholder => "Enter Date Of Birth" %>
  </div>
  <div class="field form-group">
    <%= f.label :Date_Of_Joining %><br />
    <%= f.date_select :date_of_joining %>
  </div>
  <div class="field form-group">
    <%= f.label :pref_date1 %><br />
    <%= f.date_select :pref_date1 %>
  </div>
  <div class="field form-group">
    <%= f.label :pref_date2 %><br />
    <%= f.date_select :pref_date2 %>
  </div>
  <div class="field form-group">
    <%= f.label :residential_Address %><br />
    <%= f.text_area :res_address %>
  </div>
  <div class="field form-group">
    <%= f.label :phd %><br />
    <%= f.check_box :phd%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary"%>
  </div>

<% end %>
