<!-- row -->            
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Individual Record</h1>
    </div>
    <!-- /.col-lg-12 -->
    <p id="notice"><%= notice %></p>
</div>
<!-- /.row -->
<!-- row -->
<div class="row">
    <div class="col-lg-12">
          
          <div class="table-responsive">
                      <table class="table table-striped table-hover">        
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Religion</th>
                                <th>Category</th>
                                <th>Marital status</th>
                                <th>Email</th>
                                <th>Stream</th>
                                <th>College</th>
                            </tr>       
                            <tr class="success">
                                <td><%= @shortterm_course.id %></td>
                                <td><%= @shortterm_course.name %></td>
                                <td><%= @shortterm_course.gender %></td>
                                <td><%= @shortterm_course.religion %></td>
                                <td><%= @shortterm_course.category %></td>
                                <td><%= @shortterm_course.marital_status %></td>
                                <td><%= @shortterm_course.email %></td>
                                <td><%= @shortterm_course.stream %></td>
                                <td><%= @shortterm_course.college %></td>
                            </tr>    
                      </table>   
                      <table class="table table-striped table-hover">          
                            <tr>    
                                <th>University</th>
                                <th>City</th>
                                <th>District</th>
                                <th>State</th>
                                <th>Position</th>
                                <th>Payscale</th>
                                <th>Subject</th>
                                <th>Std Code</th>
                                <th>Landline</th>
                            </tr>
                            <tr class="success">
                                <td><%= @shortterm_course.university %></td>
                                <td><%= @shortterm_course.city %></td>
                                <td><%= @shortterm_course.district %></td>
                                <td><%= @shortterm_course.state %></td>
                                <td><%= @shortterm_course.position %></td>
                                <td><%= @shortterm_course.payscale %></td>
                                <td><%= @shortterm_course.subject %></td>
                                <td><%= @shortterm_course.std_code %></td>
                                <td><%= @shortterm_course.landline %></td>
                            </tr>
                      </table>                
                      <table class="table table-striped table-hover">          
                            <tr>    
                                <th>Mobile</th>
                                <th>University pin</th>
                                <th>Dob</th>
                                <th>Date of joining</th>
                                <th>Preferred date1</th>
                                <th>Preferred date2</th>
                                <th>Residential address</th>
                                <th>Pin</th>
                                <th>Phd</th>
                            </tr>
                            <tr class="success">    
                                <td><%= @shortterm_course.mobile %></td>
                                <td><%= @shortterm_course.university_pin %></td>
                                <td><%= @shortterm_course.dob %></td>
                                <td><%= @shortterm_course.date_of_joining %></td>
                                <td><%= @shortterm_course.pref_date1 %></td>
                                <td><%= @shortterm_course.pref_date2 %></td>
                                <td><%= @shortterm_course.res_address %></td>
                                <td><%= @shortterm_course.pin %></td>
                                <td><%= @shortterm_course.phd %></td>
                            </tr>        
                      </table>
                </div>
                <!-- /.table-responsive -->    
            <%= link_to 'Edit', edit_shortterm_course_path(@shortterm_course), :class => 'btn btn-default' %>
            <%= link_to 'Delete', shortterm_course_path, method: :delete, :class => 'btn btn-default', data: { confirm: 'Are you sure?' } %> 
            <%= link_to 'Back', shortterm_record_path, :class => 'btn btn-default' %>
        </div>
        <!-- /.col-lg-12 -->    
        
</div>
<!-- /. row -->

