<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shortterm_course.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @shortterm_course.gender %>
</p>

<p>
  <b>Religion:</b>
  <%= @shortterm_course.religion %>
</p>

<p>
  <b>Category:</b>
  <%= @shortterm_course.category %>
</p>

<p>
  <b>Marital status:</b>
  <%= @shortterm_course.marital_status %>
</p>

<p>
  <b>Email:</b>
  <%= @shortterm_course.email %>
</p>

<p>
  <b>Stream:</b>
  <%= @shortterm_course.stream %>
</p>

<p>
  <b>College:</b>
  <%= @shortterm_course.college %>
</p>

<p>
  <b>University:</b>
  <%= @shortterm_course.university %>
</p>

<p>
  <b>City:</b>
  <%= @shortterm_course.city %>
</p>

<p>
  <b>District:</b>
  <%= @shortterm_course.district %>
</p>

<p>
  <b>State:</b>
  <%= @shortterm_course.state %>
</p>

<p>
  <b>Position:</b>
  <%= @shortterm_course.position %>
</p>

<p>
  <b>Payscale:</b>
  <%= @shortterm_course.payscale %>
</p>

<p>
  <b>Course:</b>
  <%= @shortterm_course.course %>
</p>

<p>
  <b>Pin:</b>
  <%= @shortterm_course.pin %>
</p>

<p>
  <b>Landline:</b>
  <%= @shortterm_course.landline %>
</p>

<p>
  <b>Mobile:</b>
  <%= @shortterm_course.mobile %>
</p>

<p>
  <b>University pin:</b>
  <%= @shortterm_course.university_pin %>
</p>

<p>
  <b>Dob:</b>
  <%= @shortterm_course.dob %>
</p>

<p>
  <b>Date of joining:</b>
  <%= @shortterm_course.date_of_joining %>
</p>

<p>
  <b>Pref date1:</b>
  <%= @shortterm_course.pref_date1 %>
</p>

<p>
  <b>Pref date2:</b>
  <%= @shortterm_course.pref_date2 %>
</p>

<p>
  <b>Res address:</b>
  <%= @shortterm_course.res_address %>
</p>

<p>
  <b>Phd:</b>
  <%= @shortterm_course.phd %>
</p>


<%= link_to 'Edit', edit_shortterm_course_path(@shortterm_course) %> |
<%= link_to 'Back', shortterm_courses_path %>
