<!-- row -->
<div class="row">
	<% if admin_signed_in? %>
		<h1 class="page-header">Welcome</h3>
	<% end %>
</div>

<% if current_admin.role == 'guest' %>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Course <small>Material</small></h2>
    </div>
    <% @courses.each do |course| %>
      <% if Date.today >= course.start_date && Date.today <= course.end_date %>
        <% if course.syllabus? %>  
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <p>
                            <h4>Course Material for <%= course.course_name %><br/><small><%= link_to "Download", course.syllabus.url, :class => 'btn btn-xs btn-primary', target: '_blank' %>
                                </small>
                            </h4> 
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
      <% end %>      
    <% end %>    
</div>
<!-- /.row -->
<% end %>
<hr>

<% if can? :manage, Course %>
<!-- row -->
<div class="row">	
  <div class="col-lg-3 col-md-3">
      <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @shortterm_course %></div>
                                    <div>Total Number Of Participants in Short-term Course</div>
                                </div>
                            </div>
                        </div>
          <a href="shortterm_record">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
      </div>
      <!-- /.panel-->
  </div>
  <!-- /.col-lg-4 --> 

  <div class="col-lg-3 col-md-3">
      <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @refresher_course %></div>
                                    <div>Total Number Of Participants in Refresher Course</div>
                                </div>
                            </div>
                        </div>
          <a href="refresher_record">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
      </div>
      <!-- /.panel-->
  </div>
  <!-- /.col-lg-4 --> 

  <div class="col-lg-3 col-md-3">
      <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @orientation_course %></div>
                                    <div>Total Number Of Participants in Orientation Course</div>
                                </div>
                            </div>
                        </div>
          <a href="orientation_record">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
      </div>
      <!-- /.panel-->
  </div>
  <!-- /.col-lg-4 -->
  
  <div class="col-lg-3 col-md-3">    
      <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @interaction_program %></div>
                                    <div>Total Number Of Participants in Interaction Course</div>
                                </div>
                            </div>
                        </div>
          <a href="interaction_record">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
      </div>
      <!-- /.panel-->
  </div>    
  <!-- /.col-lg-3 -->
</div>
<!-- /.row -->
<% end %>

<% if can? :manage, Notice %>
  <% if @notices.any? %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Notices <small>And Announcements/small></h4>
      </div>
        <div class="panel-body">
          <% @notices.each do |notice| %>
            <% if Date.today < notice.end_date %>  
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to notice.title, notice %>
                </div>
                <div class="panel-body">
                  <%= notice.body %>
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-md-3 -->  
            <% end %>
          <% end %>
        </div>
        <!-- /. panel-body -->  
    </div>
  </div>
  <!-- /.row -->    
  <% end %>
<% end %>

<% if can? :manage, Schedule %>
  <% if @downloads.any? %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Downloads <small>Section</small></h4>
      </div>
        <div class="panel-body">
          <% @downloads.each do |download| %>
            <div class="col-md-3">
                      <div class="media">
                          <div class="pull-left">
                              <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-1x text-primary"></i>
                                    <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                              </span> 
                          </div>
                          <div class="media-body">
                              <h5><%= download.description %><br/><small><%= link_to "Download", download.attachment.url, :class => 'btn btn-xs btn-primary', target: '_blank' %>
                                <%= link_to "Delete", schedule_path(download), method: :delete, data: { confirm: "Are You Sure?" }, :class => 'btn btn-xs btn-default' %>
                                  </small>
                              </h5>
                          </div>
                      </div>
                      <!-- /.media -->
            </div>
            <!-- /.col-md-3 --> 
          <% end %>
        </div>
        <!-- /. panel-body -->  
    </div>
  </div>
  <!-- /.row -->    
  <% end %>
<% end %>  