<!-- row -->            
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Individual Record</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <%= render 'detail' %>

    <%= link_to 'Edit', edit_principal_workshop_path(@principal_workshop), :class => 'btn btn-default' if can? :update, PrincipalWorkshop %>
    <%= link_to 'Delete', principal_workshop_path, method: :delete, :class => 'btn btn-default', data: { confirm: 'Are you sure?' } if can? :destroy, PrincipalWorkshop %> 
    <%= link_to 'Back', workshop_record_path, :class => 'btn btn-default' %>
    <%= link_to "Download as Excel", principal_workshop_path(format: "xlsx"), :class => 'btn btn-default' %>
</div>
<!-- /. offset -->
