<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @principal_workshop.name %>
</p>

<p>
  <b>Designation:</b>
  <%= @principal_workshop.designation %>
</p>

<p>
  <b>University:</b>
  <%= @principal_workshop.university %>
</p>

<p>
  <b>Univ type:</b>
  <%= @principal_workshop.univ_type %>
</p>

<p>
  <b>Academic qualification:</b>
  <%= @principal_workshop.academic_qualification %>
</p>

<p>
  <b>Office address:</b>
  <%= @principal_workshop.office_address %>
</p>

<p>
  <b>Res address:</b>
  <%= @principal_workshop.res_address %>
</p>

<p>
  <b>Std code:</b>
  <%= @principal_workshop.std_code %>
</p>

<p>
  <b>Office number:</b>
  <%= @principal_workshop.office_number %>
</p>

<p>
  <b>Mobile:</b>
  <%= @principal_workshop.mobile %>
</p>

<p>
  <b>Fax code:</b>
  <%= @principal_workshop.fax_code %>
</p>

<p>
  <b>Fax number:</b>
  <%= @principal_workshop.fax_number %>
</p>

<p>
  <b>Email:</b>
  <%= @principal_workshop.email %>
</p>

<p>
  <b>Course:</b>
  <%= @principal_workshop.course %>
</p>


<%= link_to 'Edit', edit_principal_workshop_path(@principal_workshop) %> |
<%= link_to 'Back', principal_workshops_path %>
