<%= form_for(@course, :html => { :class => 'form-horizontal'}, :validate => true) do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
<fieldset>
  <div class="form-group">
    <%= f.label :course_name, "Course Name", :class => 'label-control' %><br />
    <%= f.text_field :course_name, :placeholder => 'Enter Course Name', :class => 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :course_type, "Course Type", :class => 'label-control' %><br />
    <%= f.select(:course_type,[['Select a Course Type',''], "Short-term Course", "Refresher Course", "Orientation Course", "Interaction Program" ], {}, { :class => 'form-control' })  %>
      <p class="help-block"> Select Course Type </p>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'label-control' %><br />
    <%= f.text_area :description, :placeholder => 'Enter Course Description', :class => 'form-control', :style => "height:100px" %>
  </div>
  <div class="form-group">
      <%= f.label :resource_person %><br />
      <%= collection_select(:course, :resource_person_id, ResourcePerson.all, :id, :person_name, {:include_blank => "Select a Resource Person"}, {:class => 'form-control'})  %>  
  </div>
  <div class="form-group">
      <%= f.label :start_date, "Start Date",  :class => 'label-control' %><br />
      <%= f.text_field :start_date, :placeholder => 'Date Format: DD-MM-YYYY', :class => 'form-control prefdatepicker' %>
  </div>
  <div class="form-group">
      <%= f.label :end_date, "End Date", :class => 'label-control' %><br />
      <%= f.text_field :end_date, :placeholder => 'Date Format: DD-MM-YYYY', :class => 'form-control prefdatepicker' %>
  </div>
  <div class="form-group">
      <%= f.label :session, "Academic Session", :class => 'label-control' %><br />
      <%= f.text_field :session, :placeholder => 'Enter Academic Session', :class => 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
      <%= f.label :syllabus, "Upload Resource Material", :class => 'label-control' %>    <br />
      <% if @course.syllabus? %>
        <%= link_to image_tag('/assets/fallback/file.png'), @course.syllabus.url, target: '_blank' %><br/>
        <%= f.check_box :remove_syllabus %>
      <% else %>   
        <%= f.file_field :syllabus, :required => true %>
        <%= f.hidden_field :syllabus_cache %>
      <% end %>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6"> 
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
  </div>
</fieldset>  
<% end %>
