<!-- row -->            
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Individual Record</h1>
    </div>
    <!-- /.col-lg-12 -->
    <p id="notice"><%= notice %></p>
</div>
<!-- /.row -->
<!-- row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Record</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Course Name</th>
                          <th>Course Type</th>
                          <th>Course Description</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>  
                      <tbody>
                        <tr class="info">
                          <td><%= @course.course_name %></td>
                          <td><%= @course.course_type %></td>
                          <td><%= @course.description %></td>
                          <td><%= @course.start_date %></td>
                          <td><%= @course.end_date %></td>
                        </tr>
                      </tbody> 
                  </table>
                </div>
                <!-- /.table-responsive -->       
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /. panel -->    
          <%= link_to 'Edit', edit_course_path(@course), :class => 'btn btn-default' %>
          <%= link_to 'Delete', course_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %> 
          <%= link_to 'Back', courses_path, :class => 'btn btn-default' %>
        </div>
        <!-- /.col-lg-12 -->    
</div>
<!-- /. row -->
