<!--@Author: Dhaval
Dated:20/11/2014
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Academic Staff College, DAVV</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-nacollapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <%= link_to 'Academic Staff College', index_path, class:"navbar-brand" %>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-right">
                 <li>
                    <%= link_to 'About', about_path %> 
                 </li>
                 <li>
                    <%= link_to 'Programs', program_path %>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Application Form<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                         <li>
                             <%= link_to 'Short-term Course', shortterm_courses_path %>
                         </li>
                         <li>
                             <%= link_to 'Refresher Course', refresher_courses_path %>
                         </li>
                         <li>
                             <%= link_to 'Interaction Program', interaction_programs_path %>
                         </li>
                     </ul>
                 </li>
                 <li>
                     <%= link_to 'Contact Us', contact_path %>
                 </li>
                 <li>
                     <%= link_to 'FAQs', faq_path %>
                 </li>
                 <li>
                    <%= link_to 'Staff Login', admin_session_path %> 
                 </li>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
     </div>
     <!-- /.container -->
  </nav>
  <!-- /.navigation -->

	<!--Views-->
  <div class="container">
    <%= yield %>
  </div>
  <!-- /.container -->
  
    <footer class="container">
        <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; Your Website 2015</p>
          </div>
        </div>
    </footer> 
    <!-- /.Footer -->  

    <!-- Script Refrences -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>
</body>
</html>
  